<template>
  <ul class="list-wrap">
    <li
      class="list-item"
      v-for="(item, index) in list"
      :key="index"
      @click="onClassItemListView(item)"
    >
      <h3>{{ item.name }}</h3>
      <p>{{ item.desc }}</p>
    </li>
  </ul>
</template>

<script>
import axios from "axios";

export default {
  name: "blog",
  data() {
    return {
      list: []
    };
  },
  mounted() {
    this.$nextTick(() => {
      this.getList();
    });
  },
  methods: {
    getList() {
      axios.get("http://www.jiangzhifeng.xyz/api/blog/slug").then(res => {
        this.list = res.data.data.items || [];
      });
    },
    onClassItemListView(item) {
      console.log(item.name);

      this.$router.push({
        path: `/blog/${item.name}`
      });
    }
  }
};
</script>

<style lang="scss" scoped>
.list-wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.list-item {
  box-sizing: border-box;
  flex: 0 0 32.5%;
  height: 10rem;
  box-shadow: 0 0 10px rgba(144, 144, 144, 0.15);
  margin-top: 10px;
  padding: 1rem;
  border-radius: 6px;

  @media only screen and (max-width: 768px) {
    flex: 0 0 100%;
  }
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}

.clearfix:after {
  clear: both;
}
</style>
