<template>
  <ul>
    <li v-for="(item, index) in list" :key="index">
      <h3>{{ item.title }}</h3>
    </li>
  </ul>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import axios from "axios";

@Component
export default class BlogClassItemList extends Vue {
  @Prop() private list!: any[];

  constructor() {
    super();
    this.list = [{ title: "重绘和回流" }, { title: "深入理解BFC" }];
  }

  getList() {
    const slug = this.$route.params.class;

    axios
      .get("http://www.jiangzhifeng.xyz/api/slug/detail/list", {
        params: {
          slug
        }
      })
      .then(res => {
        this.list = res.data.data.items || [];
      });
  }

  private created(): void {}

  private mounted(): void {
    this.$nextTick(() => {
      this.getList();
    });
  }

  private updated(): void {}

  private destroyed(): void {}
}
</script>

<style lang="scss" scoped></style>
