<template>
  <div class="home">
    <header class="header"></header>
    <h2>To The Zone!</h2>
    <p>当你的才华撑不起你的野心的时候</p>
    <p>低下头努力学习</p>
  </div>
</template>

<script>
// @ is an alias to /src

export default {
  name: "home"
};
</script>

<style lang="scss" scoped>
.header {
  height: 260px;
  background: url("../assets/images/setting-sun.jpg") center / cover no-repeat;
  margin-top: 20px;
  border-radius: 6px;

  @media only screen and (min-width: 1000px) {
    height: 350px;
  }
}
.home {
  text-align: center;
}
</style>
