<template>
  <div>
    <section>
      <ResumeItem title="基本信息">
        <div class="grid-content bg-purple">姓名: 蒋智烽</div>
        <div class="grid-content bg-purple">性别: 男</div>
        <div class="grid-content bg-purple">年龄: 27</div>
        <div class="grid-content bg-purple">电话: 18610270284</div>
        <div class="grid-content bg-purple">邮箱: jiangzhifeng666@163.com</div>
      </ResumeItem>
      <ResumeItem title="个人技能">
        <ul>
          <li>熟练掌握html、css、javascript、es6等基础知识</li>
          <li>熟练使用react、vue及对源码的理解</li>
          <li>熟练使用node及常见相关库或框架</li>
          <li>熟练使用webpack、rollup工具</li>
        </ul>
      </ResumeItem>
      <ResumeItem title="工作经历">
        <ul>
          <li title="北京向上一心科技有限公司(老虎证券)" name="1">
            <div>2018.7 - 至今</div>
            <div>项目工作流的搭建</div>
          </li>
          <li title="北京趣拿软件科技有限公司(去哪儿网)" name="2">
            <div>2017.5 - 2018.7</div>
            <div></div>
          </li>
          <li title="北京无限印象网络科技有限公司(微代驾)" name="3">
            <div>2016.5 - 2017.5</div>
            <div></div>
          </li>
        </ul>
      </ResumeItem>
      <ResumeItem title="项目介绍">
        <div>
          <div>
            <h5>项目名称：Bos2.0</h5>
            <div>项目介绍：是公司业务核心系统，包含多个业务线，代码量达到百万</div>
            <div>工作职责：负责项目脚手架的维护及日常业务需求的跟进和分配</div>
          </div>
          <div>
            <h5>项目名称：虎友会, 快点Plus, 快点Boos</h5>
            <div>项目介绍：</div>
            <div>工作职责：</div>
          </div>
          <div>
            <h5>项目名称：易行泊车</h5>
            <div>项目介绍：</div>
            <div>工作职责：</div>
          </div>
          <div>
            <h5>项目名称：奔跑的coder(个人网站)</h5>
            <div>项目介绍：</div>
            <div>工作职责：</div>
          </div>
        </div>
      </ResumeItem>
      <ResumeItem title="学历教育">
        <div>辽宁科技大学 2012-2016</div>
      </ResumeItem>
      <ResumeItem title="个人评价">
        <ul>
          <li>热衷于技术的追求，有一颗成为大牛的心</li>
          <li>性格较开朗，热爱交朋友</li>
        </ul>
      </ResumeItem>
    </section>
  </div>
</template>

<script>
import ResumeItem from "@/components/ResumeItem.vue";

export default {
  name: "resume",
  components: {
    ResumeItem
  }
};
</script>

<style lang="sass" scoped>
.el-row,.el-col
  z-index: -1
</style>
