<template>
  <section>
    <h4 class="title">{{ title }}</h4>
    <div class="content">
      <slot></slot>
    </div>
  </section>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";

@Component
export default class ResumeItem extends Vue {
  @Prop() private title!: string;

  private created(): void {}

  private mounted(): void {}

  private updated(): void {}

  private destroyed(): void {}
}
</script>

<style lang="scss" scoped>
.title {
  position: relative;
  padding-left: 10px;
  box-sizing: border-box;

  &:before {
    content: "";
    position: absolute;
    width: 3px;
    height: 70%;
    top: 50%;
    left: 0px;
    transform: translateY(-50%);
    background-color: #111;
    display: block;
  }
}

.content {
}
</style>
