<template>
  <div class="container">
    <Header />
    <main>
      <transition :name="transitionName">
        <router-view />
      </transition>
    </main>
  </div>
</template>

<script>
import Header from "@/layout/Header";
import Footer from "@/layout/Footer.vue";

export default {
  name: "App",
  data() {
    return {
      transitionName: ""
    };
  },
  components: {
    Header
  },
  watch: {
    $route(to, from) {
      // eslint-disable-next-line
      console.log(to, from);
      this.transitionName =
        to.meta.depth > from.meta.depth ? "slide-left" : "slide-right";
    }
  }
};
</script>

<style lang="scss">
body {
  margin: 0;
  background-color: #efeeff;
  color: #111;
  line-height: 1.6;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

ul,
li {
  list-style: none;
  padding-left: 0;
}
.el-container {
  min-height: 100vh;
  background-color: #fffff0;
  color: 2a3a4a;
}

.el-header {
  position: sticky;
  position: -webkit-sticky;
  top: 0px;
  z-index: 10;
}
#nav {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  font-weight: 500;
}

#nav a {
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #ff9966;
  font-weight: bold;
}
.el-header {
  line-height: 60px;
}
.el-header,
.el-footer {
  text-align: center;
  // line-height: 60px;
}

.el-main {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

html {
  width: 100%;
  height: 100%;
  font-size: 10px !important;
}

body {
  margin: 1.5rem;
}

@media only screen and (max-width: 338px) {
  html {
    font-size: 9px !important;
  }
}

@media only screen and (min-width: 411px) {
  html {
    font-size: 11px !important;
  }
}

@media only screen and (min-width: 450px) {
  html {
    font-size: 12px !important;
  }
}

@media only screen and (min-width: 525px) {
  html {
    font-size: 14px !important;
  }
}

@media only screen and (min-width: 600px) {
  html {
    font-size: 16px !important;
  }
}

@media only screen and (min-width: 768px) {
  html {
    font-size: 20px !important;
  }
}

main {
  font-size: 1.5rem;

  @media only screen and (min-width: 1000px) {
    font-size: 0.8rem;
  }
}

.slide-right-enter-active,
.slide-right-leave-active,
.slide-left-enter-active,
.slide-left-leave-active {
  will-change: transform;
  transition: transform 350ms;
  position: absolute;
  overflow: hidden;
}

.slide-right-enter,
.slide-left-leave-active {
  transform: translate(-100%, 0);
}

.slide-left-enter,
.slide-right-leave-active {
  transform: translate(100%, 0);
}
</style>
