<template>
  <header id="nav">
    <router-link class="nav-item" to="/">网站首页</router-link>
    <router-link class="nav-item" to="/blog">个人博客</router-link>
    <router-link class="nav-item" to="/resume">简历</router-link>
    <router-link to="/about">联系方式</router-link>
  </header>
</template>
<style lang="scss">
#nav {
  max-width: 1200px;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  font-size: 1.5rem;
  position: sticky;
  top: 0;
  padding: 1rem 0;
  box-shadow: 0 0 10px rgba(144, 144, 144, 0.15);
  border-radius: 6px;

  @media only screen and (min-width: 1000px) {
    font-size: 16px;
  }

  a {
    text-decoration: none;
  }
}

.nav-left {
  .nav-item {
    margin-right: 20px;
  }
}
</style>
